# Node
**/node_modules/
**/.npm
**/pnpm-lock.yaml
**/yarn.lock

# OS
.DS_Store

# Logs and local
**/*.log
**/.env*

# Next.js
chain-salary-frontend/.next/
chain-salary-frontend/.vercel/

# Hardhat build outputs
chain-salary-hardhat/artifacts/
chain-salary-hardhat/cache/
chain-salary-hardhat/build-info/
chain-salary-hardhat/node.log

# Editor
.vscode/
.idea/
